env {
    APPTAINER_IMAGE_PATH = "/hercules/scratch/vishnu/singularity_images"
}

params {
    input_root = "/hercules/scratch/vkrishna/COMPACT/FOLLOW_UP/"

    filtool {
        rfi_filter = "kadaneF 8 4 zdot"
        zap_string = ""
        extra_args = ""
        telescope = "meerkat"
        filplan = ""
        time_decimation_factor = 1
        freq_decimation_factor = 1
        nbits = 8
        mean = 128
        std = 6
        threads = 5
        get_metadata = "${baseDir}/scripts/get_metadata.py"
    }

    peasoup {
        cfg_name = "follow_up"
        start_sample = null
        nsamples = null
        acc_scale = 2
        min_snr = "7.0"
        ram_limit_gb = "45.0"
        nh = "5"
        ngpus = "1"
        total_cands = "2500"
        accel_tol = 1.11
        birdie_list = null
        chan_mask = null
        extra_args = null
        coherent_dm = 52
        start_sample = 0
    }

    shortlist_folds{
        ptol=0.01
        ncands=100
        dm_tol=2
    }

    pulsarx {
        nbins_high = 128
        nbins_low = 64
        nbins = 32
        nsubbands = 64
        subint_length = null
        clfd_q_value = 2.0
        rfi_filter = ""
        threads = 15
        extra_args = ""
        coherent_dm = 52
    }

    apptainer_images {
        peasoup = "${env.APPTAINER_IMAGE_PATH}/peasoup_latest.sif"
        presto = "${env.APPTAINER_IMAGE_PATH}/pulsar-miner_turing-sm75.sif"
        pulsarx = "${env.APPTAINER_IMAGE_PATH}/pulsarx_dev1.sif"
        pics = "${env.APPTAINER_IMAGE_PATH}/pics_20230630_pics_model_update.sif"
        candy_picker = "${env.APPTAINER_IMAGE_PATH}/candy_picker_latest.sif"
    }
}

profiles {
    local {
     includeConfig 'local.config'   
  }
    hercules {
     includeConfig 'hercules.config'
   }
   
 }