apptainer {
        enabled = true
        runOptions = '--env PYTHONNOUSERSITE=1 --nv -B /hercules -B /mandap -B /mkfs -B /scratch -B /u'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }




env {
    APPTAINER_IMAGE_PATH = "/hercules/scratch/vishnu/singularity_images"
}

params {
    
    

    apptainer_images {

    peasoup = "${env.APPTAINER_IMAGE_PATH}/peasoup_latest.sif"
    presto = "${env.APPTAINER_IMAGE_PATH}/pulsar-miner_turing-sm75.sif"
    pulsarx = "/hercules/scratch/vkrishna/COMPACT/code/CaReFuL/singularity_images/pulsarx_latest.sif"
    pics  = "${env.APPTAINER_IMAGE_PATH}/pics_20230630_pics_model_update.sif"
    candy_picker = "${env.APPTAINER_IMAGE_PATH}/candy_picker_latest.sif"

    }
    
}