params {
    psrfold_out_dir="/bscratch/CAND_RECHECKS_6"
    psrfold_singular_image="/b/u/vishnu/SINGULARITY_IMAGES/pulsarx_latest.sif"
    psrfold_csv_file="/bscratch/CAND_RECHECKS_6/3HM_T1_psrfold_cmds.csv"

     segmentation_plan = '''
    {
      "segmentation": {
        "full": {
          "offset":  0,
          "fraction": 1.0,
          "chunks": [0]
        }
      }
    }
    '''
    //  segmentation_plan = '''
    // {
    //   "segmentation": {
    //     "full": {
    //       "offset":  0,
    //       "fraction": 1.0,
    //       "chunks": [0]
    //     },
    //     "half": {
    //       "offset":  0,
    //       "fraction": 0.5,
    //       "chunks": [0, 1]
    //     }, 
    //     "half_offset": {
    //       "offset":  0.25,
    //       "fraction": 0.5,
    //       "chunks": [0]
    //     },
    //     "quarter": {
    //       "offset":  0,
    //       "fraction": 0.25,
    //       "chunks": [0, 1, 2, 3]
    //     }
    //   }
    // }
    // '''


}

apptainer {
        enabled = true
        runOptions = '--env="CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}" --nv -B /b -B /bscratch -B /bscratch/vishnu/BEAMFORMER/:/workspace/BEAMFORMER -B $HOME:$HOME'
        //runOptions = '--nv -B /b -B /bscratch -B /bscratch/vishnu/BEAMFORMER/:/workspace/BEAMFORMER'

        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH, CUDA_VISIBLE_DEVICES'
    }

executor {
        name = 'condor'               
        pollInterval = '1 min'       // Determines how often to check for process termination. 
        queueSize = 2500               // Maximum number of jobs submitted at once
        submitRateLimit = '1/2s'     // Submits one job every 2 seconds
        exitReadTimeout = '5 min'     // How long to wait before returning an error status when a process is terminated but the .exitcode file does not exist or is empty
    }